<!DOCTYPE html>
<html>

<head>
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/layout.css">
	<link rel="stylesheet" type="text/css" href="css/sketch.css">
	<link rel="stylesheet" type="text/css" href="css/animate.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body ng-controller="MainController">

	<div class="background-holder"></div>

	<div class="app" ui-view></div>

	<div ng-controller="MenuController">
		<div ng-show="showing" class="animate fadeInLeft">
			<div id="sidebar-menu">
				<div id="profile">
					<div class="inline img">
						<div class="holder"></div>
					</div>
					<div class="inline ">
						<div class="name">Juana Pérez</div>
						<div class="my_profile" ng-click="goto('Profile')">Mi perfil</div>
					</div>
				</div>
				<div id="list">
					<ul>
						<li ng-click="goto('Home')"><span>Categorías</span></li>
						<li ng-click="goto('FAQ')"><span>Forma de pago</span></li>
						<li ng-click="goto('Historial')"><span>Historial de servicios</span></li>
						<li ng-click="goto('Logout')"><span>Cerrar sesión</span></li>
					</ul>
				</div>
				<div class="version"><span>Version 1.0.0</span></div>
			</div>
		</div>
		<div ng-show="showing" ng-click="stopShowing()" id="overlay"></div>
	</div>

	<!-- CORDOVA LAUCHER -->
	<script type="text/javascript" src="cordova.js"></script>
	<!-- JQUERY -->
	<script type="text/javascript" src="js/lib/vendors/jquery.min.js"></script>
	<!-- ANGULAR ECOSYSTEM -->
	<script type="text/javascript" src="js/lib/vendors/angular.min.js"></script>
	<!-- <script type="text/javascript" src="js/lib/vendors/angular-locale_es-mx.js"></script> -->
	<script type="text/javascript" src="js/lib/vendors/angular-animate.min.js"></script>
	<script type="text/javascript" src="js/lib/vendors/angular-touch.js"></script>
	<script type="text/javascript" src="js/lib/vendors/angular-ui-router.min.js"></script>
	<!-- STARTUPS -->
	<script type="text/javascript" src="js/tree.js"></script>
	<script type="text/javascript" src="js/app.bootstrap.js"></script>
	<script type="text/javascript" src="js/app.configs.js"></script>
	<script type="text/javascript" src="js/lib/launcher.js"></script>
	<script type="text/javascript" src="js/lib/ondeviceready.js" defer="defer"></script>
	<!-- <script type="text/javascript" src="js/controllers/HomeController.js"></script> -->
</body>

</html>
