
<top-header search-placeholder="Categorías" />

<div id="categorias">
	<div class="fondo">
		<div ng-click="">
			<p>
				Brushing <br>
				<span>Breve descripción del servicio</span>
			</p>
		</div>
	</div>

	<div class="fondo">
		<div ng-click="">
			<p>
				Hair Removal <br>
				<span>Breve descripción del servicio</span>
			</p>
		</div>
	</div>

	<div class="fondo">
		<div ng-click="">
			<p>
				Nail Bar <br>
				<span>Breve descripción del servicio</span>
			</p>
		</div>
	</div>

	<div class="fondo">
		<div ng-click="">
			<p>
				Make Up <br>
				<span>Breve descripción del servicio</span>
			</p>
		</div>
	</div>
</div>