<div class="login-screen">
<div class="transparencia">

	<div class="contenedor-logo centrar-img-v-h">
		<span></span>
		<img class="logo" src="img/logo-white.png" alt="B E A U T I F Y">
	</div>

	<div class="contenedor-login">
		<form>
		    <div class="input-transparente">
			    <input id="mail" type="email" name="email" ng-model="" placeholder="Email" autocomplete="on" required>
			  	<label for="mail"><i class="fa fa-user-secret" aria-hidden="true"></i></label>
		    </div>
		    <div class="input-transparente">
			  	<input id="pwd" type="password" name="password" placeholder="Contraseña" required>
			  	<label for="pwd"><i class="fa fa-lock" aria-hidden="true"></i></label>
		    </div>
		    <div>
		  		<a class="btn-dark" ng-click="Home.categorias()">
		  		    <span>Inicia sesión</span>
		  		</a>
	  			<a ng-click="">Olvidaste tu contraseña?</a>
			</div>
	    </form>
		<div>
		  	<a ng-click="Home.next()"><span class="opacity">¿No tienes una cuenta?</span>&nbsp;Regístrate</a>
		  	<a ng-click="">Términos y Condiciones</a>
		</div>
	</div>

</div>
</div>
