<div id="sidebar-menu" ng-show="{{showing}}">
	<div class="wrapper">
		<div id="profile">
			<div class="config"><i class="fa fa-cog"></i></div>
			<div class="img"><div class="holder"></div></div>
			<div class="name">Juana Pérez</div>
			<div class="points">1450pts</div>
		</div>
		<div id="list">
			<ul>
				<li><span>Promociones</span></li>
				<li><span>Recompensas</span></li>
				<li><span>Monedero</span></li>
				<li><span>Check-In</span></li>
				<li><span>F. A. Q.´s</span></li>
				<li><span>Términos y condiciones</span></li>
				<li><span>Quiero anunciarme</span></li>
				<li><span>Cerrar sesión</span></li>
			</ul>
		</div>
		<div class="version"><span>Version 1.0.0</span></div>
	</div>
</div>
