<header class="">

	<div class="back tappable">
		<i class="fa fa-arrow-left" aria-hidden="true"></i>
	</div>

	<div class="title">
		<span>{{searchPlaceholder}}</span>
	</div>

	<div class="menu-trigger tappable" ng-click="showMenu()">
		<i class="fa fa-bars" aria-hidden="true"></i>
	</div>

</header>
