@font-face{
  font-family: 'AvenirNext';
  src:url('../fonts/AvenirNext-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'AvenirNext';
  src:url('../fonts/AvenirNext-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}