div.app header {
	text-align: center;
	float: left;
	position: relative;
	left: 0;
	top: 0;
	height: 3rem;
	border-bottom: none;
	width: 100vw;
	color: $beautify-white-100;
    text-shadow: 1px 1px #888888;
	background-color: $beautify-blue;
	&.transparente {
		background-color: transparent;
	}
	div {
		padding: 0.6em 0.5em;
		margin: 0;
		height: 100%;
		&.back {
			font-size: 1.25rem;
			width: 2em;
			float: left;
			position: relative;
			left: 0;
			top: 0;
		}
		&.title {
			position: absolute;
			left: 0;
			top: 0;
			margin: auto;
			width: auto;
			right: 2.45rem;
			left: 2.45rem;
			font-size: 1rem;
			span {
				height: 100%;
			    display: inline-block;
			    vertical-align: sub;
			}
		}
		&.menu-trigger {
			font-size: 1.25rem;
			float: right;
			position: relative;
			left: 0;
			top: 0;
			width: 2em;
		}
	}
}