#sidebar-menu {
	background-color: $beautify-blue;
	position: fixed;
	top: 0;
	width: 75vw;
	bottom: 0;
	left: 0;
	-webkit-box-shadow: 0px 2px 0.5em;
	box-shadow: 0px 2px 0.5em;
	z-index: 1;
	#profile {
		text-align: center;
		font-size: 0.9em;
		color: $beautify-white-100;
    	text-shadow: 1px 1px #888888;
    	.inline  {
    		display: inline-block;
    		&:nth-child(2) {
			    transform: translateY(-100%);
	    		div:nth-child(2) {
				    text-align: left;
	    		}
    		}
    	}
		.img {
			text-align: center;
			font-size: 0.9em;
			height: 5em;
			margin: 1rem 1.25rem 0.5em 0.5em;
			.holder {
				height: 5em;
				width: 5em;
				margin-left: auto;
				margin-right: auto;
				position: relative;
				left: 0;
				top: 0;
				background-color: rgba(167, 110, 110, 0.278);
				-webkit-border-radius: 214px;
				border-radius: 214px;
				border: 0.2em solid #C0C0C0;
			}
		}
		.name {
			font-style: normal;
    		font-weight: lighter;
		}
		.my_profile {
			font-size: 0.75em;
		}
		.config {
			position: absolute;
			right: 0;
			top: 0;
			padding: 0.5em 0.6em;
			cursor: pointer;
			border-bottom-left-radius: 15px;
			-webkit-transition: 350ms ease-out all;
			-moz-transition: 350ms ease-out all;
			-o-transition: 350ms ease-out all;
			transition: 350ms ease-out all;
			&:active {
				background-color: #ABE7C3;
				color: #00B340;
				/*+transition: 0ms ease-out all;*/
				-webkit-transition: 0ms ease-out all;
				-moz-transition: 0ms ease-out all;
				-o-transition: 0ms ease-out all;
				transition: 0ms ease-out all;
			}
		}
	}
	.version {
		position: absolute;
		left: 0;
		bottom: 0;
		font-size: 0.5em;
		width: 100%;
		height: 2em;
		padding: 0.5em;
		text-align: center;
		color: $beautify-white-100;
		text-shadow: 1px 1px #888888;
		font-style: italic;
	}
	ul {
		margin-top: 0.5em;
		li {
			padding: 0.5em;
			padding-left: 1em;
			color: $beautify-white-100;
		    text-shadow: 1px 1px #888888;
			cursor: pointer;
			-webkit-transition: 350ms ease all;
			transition: 350ms ease all;
			&:hover {
				background-color: $beautify-white-100;
				-webkit-transition: 50ms ease all;
				transition: 50ms ease all;
				color: $beautify-blue;
			}
		}
	}
	#list ul {
		font-size: 0.9em;
	}
}