////////////////////////////////////////////////////////////////
/////////////////			Colors				////////////////
////////////////////////////////////////////////////////////////
$beautify-blue 		: 	rgba(108, 195, 192,    1);
$beautify-black 	: 	rgba(  0,   0,   0,    1);
$beautify-white-100 :	rgba(255, 255, 255,    1);
$beautify-white-50 	: 	rgba(255, 255, 255, 0.35);
$beautify-white-35 	: 	rgba(255, 255, 255, 0.35);
////////////////////////////////////////////////////////////////
/////////////////		Screen Sizes			////////////////
////////////////////////////////////////////////////////////////
$xs-screen :  280px;
$sm-screen :  280px;
$sm-tablet :  600px;
$ip-tablet :  768px;
$wd-tablet : 1600px;