@font-face {
  font-family: 'AvenirNext';
  src: url("../fonts/AvenirNext-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AvenirNext';
  src: url("../fonts/AvenirNext-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

div.app header {
  text-align: center;
  float: left;
  position: relative;
  left: 0;
  top: 0;
  height: 3rem;
  border-bottom: none;
  width: 100vw;
  color: white;
  text-shadow: 1px 1px #888888;
  background-color: #6cc3c0; }
  div.app header.transparente {
    background-color: transparent; }
  div.app header div {
    padding: 0.6em 0.5em;
    margin: 0;
    height: 100%; }
    div.app header div.back {
      font-size: 1.25rem;
      width: 2em;
      float: left;
      position: relative;
      left: 0;
      top: 0; }
    div.app header div.title {
      position: absolute;
      left: 0;
      top: 0;
      margin: auto;
      width: auto;
      right: 2.45rem;
      left: 2.45rem;
      font-size: 1rem; }
      div.app header div.title span {
        height: 100%;
        display: inline-block;
        vertical-align: sub; }
    div.app header div.menu-trigger {
      font-size: 1.25rem;
      float: right;
      position: relative;
      left: 0;
      top: 0;
      width: 2em; }

#sidebar-menu {
  background-color: #6cc3c0;
  position: fixed;
  top: 0;
  width: 75vw;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: 0px 2px 0.5em;
  box-shadow: 0px 2px 0.5em;
  z-index: 1; }
  #sidebar-menu #profile {
    text-align: center;
    font-size: 0.9em;
    color: white;
    text-shadow: 1px 1px #888888; }
    #sidebar-menu #profile .inline {
      display: inline-block; }
      #sidebar-menu #profile .inline:nth-child(2) {
        transform: translateY(-100%); }
        #sidebar-menu #profile .inline:nth-child(2) div:nth-child(2) {
          text-align: left; }
    #sidebar-menu #profile .img {
      text-align: center;
      font-size: 0.9em;
      height: 5em;
      margin: 1rem 1.25rem 0.5em 0.5em; }
      #sidebar-menu #profile .img .holder {
        height: 5em;
        width: 5em;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        left: 0;
        top: 0;
        background-color: rgba(167, 110, 110, 0.278);
        -webkit-border-radius: 214px;
        border-radius: 214px;
        border: 0.2em solid #C0C0C0; }
    #sidebar-menu #profile .name {
      font-style: normal;
      font-weight: lighter; }
    #sidebar-menu #profile .my_profile {
      font-size: 0.75em; }
    #sidebar-menu #profile .config {
      position: absolute;
      right: 0;
      top: 0;
      padding: 0.5em 0.6em;
      cursor: pointer;
      border-bottom-left-radius: 15px;
      -webkit-transition: 350ms ease-out all;
      -moz-transition: 350ms ease-out all;
      -o-transition: 350ms ease-out all;
      transition: 350ms ease-out all; }
      #sidebar-menu #profile .config:active {
        background-color: #ABE7C3;
        color: #00B340;
        /*+transition: 0ms ease-out all;*/
        -webkit-transition: 0ms ease-out all;
        -moz-transition: 0ms ease-out all;
        -o-transition: 0ms ease-out all;
        transition: 0ms ease-out all; }
  #sidebar-menu .version {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0.5em;
    width: 100%;
    height: 2em;
    padding: 0.5em;
    text-align: center;
    color: white;
    text-shadow: 1px 1px #888888;
    font-style: italic; }
  #sidebar-menu ul {
    margin-top: 0.5em; }
    #sidebar-menu ul li {
      padding: 0.5em;
      padding-left: 1em;
      color: white;
      text-shadow: 1px 1px #888888;
      cursor: pointer;
      -webkit-transition: 350ms ease all;
      transition: 350ms ease all; }
      #sidebar-menu ul li:hover {
        background-color: white;
        -webkit-transition: 50ms ease all;
        transition: 50ms ease all;
        color: #6cc3c0; }
  #sidebar-menu #list ul {
    font-size: 0.9em; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection */
  -webkit-tap-highlight-color: transparent;
  font-family: 'AvenirNext'; }
  *:focus {
    outline: none; }

html {
  font-size: 16px; }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: black;
  color: white;
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  width: 100vw;
  position: relative;
  overflow: hidden; }
  body ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem; }

a {
  margin: 15px 0;
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  display: inherit;
  text-transform: uppercase; }
  a.btn-dark {
    margin: auto;
    width: 82.5%; }
  a span.opacity {
    color: rgba(255, 255, 255, 0.35); }

.btn-dark {
  margin: 20px 5vw 0 5vw;
  width: 90vw;
  background: #6cc3c0;
  border: #6cc3c0;
  padding: 15px;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: white;
  text-shadow: 1px 1px #888888;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  vertical-align: middle; }

.centrar-img-v-h {
  text-align: center; }
  .centrar-img-v-h span {
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  .centrar-img-v-h img.logo {
    display: inline-block;
    width: 50%; }

.contenedor-logo {
  height: 46vh; }
  .contenedor-logo.inicio {
    height: 60vh; }
  .contenedor-logo span.inicio {
    height: initial;
    font-size: 1.25rem; }
    .contenedor-logo span.inicio:first-child {
      padding-top: 10vh;
      font-size: 0.875rem;
      text-transform: none; }
      .contenedor-logo span.inicio:first-child img {
        width: 65%;
        margin-bottom: 0.625rem; }
    .contenedor-logo span.inicio:nth-child(2) {
      margin-top: 7.5vh;
      line-height: 1.9rem; }

.contenedor-login div {
  margin: 0.625rem 0; }
  .contenedor-login div:last-child {
    font-size: 0.75rem; }
  .contenedor-login div.input-transparente {
    margin: 0; }
.contenedor-login a.red {
  margin-top: 5vh; }
.contenedor-login form div:last-child {
  margin-top: 2.5vh;
  margin-bottom: 3.5vh; }
.contenedor-login div:last-child {
  margin-top: 2.5vh;
  margin-bottom: 3.5vh; }

.login-screen {
  background-color: black;
  background-image: url("../img/fondos/login.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  overflow: hidden; }
  .login-screen .transparencia {
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 100vh; }

div.input-transparente input, div.input-transparente select, div.input-transparente textarea {
  border: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.15);
  background: transparent;
  padding-bottom: 10px;
  padding-left: 1.55rem;
  margin: 10px 5vw;
  width: 90vw;
  color: white; }
div.input-transparente textarea {
  font-size: 0.95rem;
  color: white;
  border: solid 1px rgba(255, 255, 255, 0.15);
  resize: none; }
div.input-transparente select {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5); }
div.input-transparente label {
  margin-top: -37px;
  margin-left: 1.5rem;
  position: absolute;
  color: rgba(255, 255, 255, 0.75);
  text-align: left;
  width: 94%;
  z-index: 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold; }

#categorias {
  width: 100vw;
  margin-top: 3rem; }
  #categorias div {
    height: 23.165vh;
    width: 100%;
    display: inline-block;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover; }
    #categorias div div {
      height: 100%;
      display: block;
      background-color: rgba(0, 0, 0, 0.75); }
      #categorias div div p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.025rem;
        font-weight: 400; }
        #categorias div div p span {
          font-size: 0.8rem;
          font-weight: normal; }
  #categorias .fondo:first-child {
    background-image: url("../img/fondos/categoria-1.png"); }
  #categorias .fondo:nth-child(2) {
    background-image: url("../img/fondos/categoria-2.png"); }
  #categorias .fondo:nth-child(3) {
    background-image: url("../img/fondos/categoria-3.png"); }
  #categorias .fondo:nth-child(4) {
    background-image: url("../img/fondos/categoria-4.png"); }

.v-center-element {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
