@import 'vars';
@import 'fonts';
@import 'header';
@import 'sidebar';

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);		/* make transparent link selection */
    -webkit-tap-highlight-color: transparent;
    font-family:'AvenirNext';
    &:focus {
        outline: none;
    }
}

html {
	font-size: 16px;
}

body {
    -webkit-touch-callout    : none;             /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust : none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select  	 : none;             /* prevent copy paste, to allow, change 'none' to 'text' */

    background-color : $beautify-black;
    color            : $beautify-white-100;

    font-size  		:  1rem;
    margin  		:0px;
    padding  		:0px;
    text-transform  :uppercase;
    width  			:100vw;

    position: relative;
    overflow: hidden;

    ::-webkit-input-placeholder {
        color  	  : rgba(255, 255, 255, 0.5);
        font-size : 0.8rem;
    }
}

a {
    margin: 15px 0;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    display: inherit;
    text-transform: uppercase;
    &.btn-dark {
        margin: auto;
        width: 82.5%;
    }
    span.opacity {
    	color: $beautify-white-35;
    }
}

.btn-dark {
    margin: 20px 5vw 0 5vw;
    width: 90vw;

    background: $beautify-blue;
    border: $beautify-blue;
    padding: 15px;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: $beautify-white-100;
    text-shadow: 1px 1px #888888;
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: none;

    text-decoration: none;
    vertical-align: middle;
}

.centrar-img-v-h {
    text-align : center;
    span {
        display        : inline-block;
        vertical-align : middle;
        height         : 100%;
    }
    img.logo {
        display : inline-block;
        width   : 50%;
    }
}

.contenedor-logo {
    height: 46vh;
    &.inicio {
        height: 60vh;
    }
    span.inicio {
        height: initial;
        font-size: 1.25rem;
        &:first-child {
            padding-top: 10vh;
            font-size: 0.875rem;
            text-transform: none;
            img {
                width: 65%;
                margin-bottom: 0.625rem;
            }
        }
        &:nth-child(2) {
            margin-top: 7.5vh;
            line-height: 1.9rem;
        }
    }
}

.contenedor-login {
    div {
        margin: 0.625rem 0;
        &:last-child {
            font-size: 0.75rem;
        }
        &.input-transparente {
            margin: 0;
        }
    }
    a.red {
        margin-top: 5vh;
    }
    form div:last-child {
        margin-top    : 2.5vh;
        margin-bottom : 3.5vh;
    }
    div:last-child {
        margin-top    : 2.5vh;
        margin-bottom : 3.5vh;
    }
}

.login-screen {
    background-color : $beautify-black;
    background-image : url("../img/fondos/login.png");
    background-repeat: no-repeat;
    background-size  : cover;
    min-height       : 100vh;
    width            : 100%;
    overflow         : hidden;
    .transparencia {
        background-color: rgba(0,0,0,0.70);
        min-height       : 100vh;
    }
}

div.input-transparente {
    input, select, textarea {
        border : none;
        border-bottom  : solid 1px rgba(255, 255, 255, 0.15);
        background     : transparent;
        padding-bottom : 10px;
        padding-left   : 1.55rem;
        margin : 10px 5vw;
        width  : 90vw;
        color: white;
    }
    textarea {
        font-size: 0.95rem;
        color  : rgba(255, 255, 255, 1);
        border: solid 1px rgba(255, 255, 255, 0.15);
        resize: none;
    }
    select {
        font-size: 0.875rem;
        color  : rgba(255, 255, 255, 0.5);
    }
    label {
        margin-top: -37px;
        margin-left: 1.5rem;
        position: absolute;
        color: rgba(255, 255, 255, 0.75);
        text-align: left;
        width: 94%;
        z-index: 0;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bold;
    }
}

#categorias {
    //height: 100vh - 3rem;
    width: 100vw;
    margin-top: 3rem; //misma altura que header
    div {
        height: 23.165vh;
        width: 100%;
        display: inline-block;
        text-align: center;
        background-repeat: no-repeat;
        background-size  : cover;
        div {
            height: 100%;
            display: block;
            background-color: rgba(0,0,0,0.75);
            p {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                font-size: 1.025rem;
                font-weight: 400;
                span {
                    font-size: 0.8rem;
                    font-weight: normal;
                }
            }
        }
    }
    .fondo:first-child {
        background-image: url("../img/fondos/categoria-1.png");
    }
    .fondo:nth-child(2) {
        background-image: url("../img/fondos/categoria-2.png");
    }
    .fondo:nth-child(3) {
        background-image: url("../img/fondos/categoria-3.png");
    }
    .fondo:nth-child(4) {
        background-image: url("../img/fondos/categoria-4.png");
    }
}

.v-center-element {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}