/*+clearfix {*/
body::after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
body
{
	display: block;
	*height: 1px;
}
@media screen
{
	#sidebar-menu::after
	{
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
		font-size: 0;
	}
	#sidebar-menu
	{
		display: block;
		*height: 1px;
	}
}
/*+}*/
/*SAMPLE LAYOUT*/
/*@Author Daniel Lepe*/
/*@Date 20/10/2016*/
*
{
	margin: 0;
	padding: 0;
	/*+box-sizing: border-box;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: sans-serif;
	/*font-weight:1em;*/
	/*width:100%;*/
}
input
{
	border: 1px solid #00B340;
	/*+border-radius: 0px;*/
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	height: 2.2em;
	padding: 0.3em;
	color: #00B340;
}
input:focus
{
	-webkit-box-shadow: 0 0 0.74em rgba(255, 255, 255, 0.278);
	box-shadow: 0 0 0.74em rgba(255, 255, 255, 0.278);
}
ul li
{
	list-style: none;
	padding: 0.23em;
	margin: 0;
	/*background-color:#578FD8;*/
}
/*[clearfix]*/
body
{
	overflow: hidden;
	background-position: center top;
	font-size: 1.5em;
}
body > div.background-holder
{
	position: fixed;
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
	overflow: hidden;
}
body > div.app
{
	position: fixed;
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
	overflow: hidden;
}
#overlay
{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(71, 71, 71, 0.733);
}
/*CONTENT*/
div.app .content
{
	font-size: 0.6em;
	text-align: justify;
	padding: 0.9em;
}
/*HOME*/
@media screen
{
	/*TABS*/
	div.app div.tabs
	{
		/*+placement: float-left;*/
		float: left;
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
	}
	div.app div.tabs > div
	{
		/*+placement: float-left;*/
		float: left;
		position: relative;
		left: 0;
		top: 0;
		width: 33.3333%;
		text-align: center;
		font-size: 0.7em;
		padding: 0.25em;
	}
	div.app div.tabs-holder
	{
		/*+placement: float-left;*/
		float: left;
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
		background-color: rgba(34, 121, 235, 0.267);
		margin: 0;
		padding: 0;
	}
	div.app div.tabs-holder > div
	{
		/*+placement: float-left;*/
		float: left;
		position: relative;
		left: 0;
		top: 0;
		width: 19.3333%;
		background-color: rgba(232, 222, 133, 0.267);
		margin: 0;
		padding: 0;
	}
	div.app div.tabs .active
	{
		background-color: #2CA15B;
		color: #FFFFFF;
	}
	div.app div.tabs-holder img
	{
		width: 100px;
		height: 100px;
	}
}
