/*SKETCH STYLE*/
/*@Author Daniel Lepe*/
/*@Date 20/10/2016*/
.tappable
{
	background-color: rgba(248, 198, 198, 0);
	/*+transition: all ease-out 350ms;*/
	-webkit-transition: all ease-out 350ms;
	-moz-transition: all ease-out 350ms;
	-o-transition: all ease-out 350ms;
	transition: all ease-out 350ms;
}
.tappable:active, .tappable:hover
{
	background-color: #ABE7C3;
	cursor: pointer;
	/*+transition: all ease-out 50ms;*/
	-webkit-transition: all ease-out 50ms;
	-moz-transition: all ease-out 50ms;
	-o-transition: all ease-out 50ms;
	transition: all ease-out 50ms;
}
